.web-shell {
  max-width: 500px;
  margin: 0 auto;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: hsl(240, 20%, 99%);
  padding-top: 120px;
}

.member-header {
  max-width: 500px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 170px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.id-card {
  width: 430px;
  transform: rotate(-90deg) scale(1.5);
  transform-origin: center;
  background: linear-gradient(135deg, #ffffff 70%, #e0f0ff 100%);
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  margin-top: 71px;
  border: 1px solid #1da7ec;
}

.id-card-header {
  background: #0074AD;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 14px 14px 0 0;
}

.id-card-header img {
  height: 36px;
}


.id-card-body {
  display: flex;
  justify-content: space-between;
  padding: 26px;
}

.id-field {
  margin-bottom: 18px;
}

.label {
  font-size: 13px;
  color: #666;
}

.value {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.row-fields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 11px;
}

.md-logo {
  height: 50px;
}

.card-footer-text {
  text-align: center;
  width: 100%;
  max-width: 425px;
  padding: 12px;
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  font-weight: 600;
  color: #0074AD;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
.footer-icon {
  width: 22px;
  height: 22px;
  fill: #0074AD; /* You can change color if needed */
  margin-right: 8px;
  vertical-align: middle;
}
