<div class="claims">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>

  <div class="content">
    <div class="claims-shell">
      
      <h2 class="claims-title">Claims</h2>
      @for (claim of data.claimsAdminInformation; track claim.claimsPageEdiPayorIdValue) {
        <p class="claims-subtitle">{{claim?.claimsPageAddressSectionTitle || 'Send claims to:'}}</p>
        <div class="claim-card">
          <div class="claim-title">{{claim?.claimsPageAddressSectionSubTitle || 'Claims Administration'}}</div>
          <div class="claim-address">
            {{claim?.claimsPageAddressLineOne || ''}} <br/>
            {{claim?.claimsPageAddressLineTwo  || ''}}
          </div>
          <div class="claim-edi">
            {{claim?.claimsPageEdiPayorIdLabel || 'EDI Payer Id'}}: {{claim?.claimsPageEdiPayorIdValue}}
          </div>
        </div>
      }
      <!-- <p class="claims-subtitle">Send claims to:</p>
      <div class="claim-card">
        <div class="claim-title">Claims Administration</div>
        <div class="claim-address">
          {{ data?.claimsAdminInformation?.payorIdDetails.line1 }} <br />
          {{ data?.claimsAdminInformation?.payorIdDetails.city }}, {{ data?.claimsAdminInformation?.payorIdDetails.state
          }} {{ data?.claimsAdminInformation?.payorIdDetails.zipcode }}
        </div>
        <div class="claim-edi">{{ data?.claimsAdminInformation?.claimsEdiPayorIdLabel }}: {{
          data?.claimsAdminInformation?.payorIdDetails.ediPayorId }}</div>
      </div> -->

      <!-- @for (section of data?.claimsOutOfKaiserInformation; track section.claimsOutOfKaiserSubtitle) {
      <p class="claims-subtitle">{{ section.claimsOutOfKaiserSubtitle }}</p>

      <div class="claim-card">
        <div class="claim-title">{{ section?.claimsOutOfKaiserTitle }}</div>

        <div class="claim-address">
          {{ section?.payorIdDetails.line1 }} <br />
          {{ section?.payorIdDetails.city }}, {{ section?.payorIdDetails.state }} {{ section?.payorIdDetails.zipcode }}
        </div>

        <div class="claim-edi">
          {{ data?.claimsAdminInformation?.claimsEdiPayorIdLabel }}: {{ section?.payorIdDetails?.ediPayorId }}
        </div>
      </div>
      } -->


      <div class="call-box">
        @for (contact of data?.claimsSupportContact; track contact.number) {
        <div class="phone">{{ contact.title || 'Member Services'}}: {{ contact.number }}</div>
        <button class="call-btn">Call {{ contact.title || 'Member Services'}}</button>
        }
      </div>
    </div>
  </div>