<div class="claims">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>

  <div class="content">
    <div class="claims-shell">
  <h2 class="claims-title">Claims</h2>
  <p class="claims-subtitle">Send claims to:</p>

  <!-- Claims Administration card -->
  <div class="claim-card">
    <div class="claim-title">Claims Administration</div>
    <div class="claim-address">
      P.O. Box 30766 <br />
      Salt Lake City, UT 84130
    </div>
    <div class="claim-edi">EDI Payor ID: 91051</div>
  </div>

  <!-- Cigna Healthcare Providers card -->
  <p class="claims-subtitle">For Cigna Healthcare Providers:</p>
  <div class="claim-card">
    <div class="claim-title">Cigna Medical Claims</div>
    <div class="claim-address">
      P.O. Box 188061 <br />
      Chattanooga, TN 37422
    </div>
    <div class="claim-edi">EDI Payor ID: 62308</div>
  </div>

    <div class="call-box">
      <div class="phone">Member Services: 1-800-432-5250</div>
      <button class="call-btn">Call Member Services</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>