<app-loader [isLoading]="isLoading"></app-loader>
<div class="care">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>

  <div class="content">
    <h3>Care Outside of Kaiser</h3>

    <div class="phone-card">
      <div class="phone-title">
        If you receive emergency care in a non-Plan hospital
      </div>
      <div class="phone-num">1-800-777-7904 (TTY 711)</div>
      <p class="phone-note">
        Call as soon as your condition is stabilized so that a Kaiser Permanente physician can
        discuss your medical information and coordinate your care with the treating physician.
      </p>
    </div>

    <div class="phone-card">
      <div class="phone-title">For care options when traveling</div>
      <div class="phone-num">1-951-268-3900 (TTY 711)</div>
      <p class="phone-note">
        Visit kp.org/travel or call for urgent or emergency care available from any provider when traveling.
      </p>
    </div>

    <div class="policy" [innerHTML]="regularData">
    </div>

    <div class="logos">
      <div>LOGO</div>
      <div>LOGO</div>
      <div>LOGO</div>
      <div>LOGO</div>
      <div>LOGO</div>
      <div>LOGO</div>
    </div>
  </div>
</div>
