<div class="contacts">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>

  <div class="content">
    <h3>Contacts</h3>
    <div class="info">Phone Contacts<br />For medical care, call your primary care physician.</div>

    <div class="alert-box">
      <div class="warn">{{ alertBox.message }}</div>
      <button class="alert-btn">{{ alertBox.buttonText }}</button>
    </div>
    @for (card of data; track card.title) {
    <div class="phone-card">
      <div class="phone-title">{{ card.title }}</div>

      <div class="phone-num">
        @for (num of card.numbers; track num.type) {
        @if (num.type === 'voice') {
        <span>
          {{ num.number }}
          @for (tty of card.numbers; track tty.type) {
          @if (tty.type === 'tty') {
          (TTY {{ tty.number }})
          }
          }
        </span>
        }
        }
      </div>

    </div>
    }

  </div>
</div>