<div class="contacts">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>

  <div class="content">
    <h3>Contacts</h3>
    <div class="info">Phone Contacts<br/>For medical care, call your primary care physician.</div>

    <div class="alert-box">
      <div class="warn">Call 911 or go to the nearest emergency room</div>
      <button class="alert-btn">Call 911</button>
    </div>

    <div class="phone-card">
      <div class="phone-title">Member Services</div>
      <div class="phone-num">1-800-432-5250 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">If you are unsure of your condition and require immediate medical advice</div>
      <div class="phone-num">1-800-677-1112 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">Appointments, 24/7 Medical Advice, Urgent Care & Pharmacy (Washington D.C. Metro Area)</div>
      <div class="phone-num">1-800-777-7904 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">Appointments, 24/7 Medical Advice, Urgent Care & Pharmacy (Hawaii)</div>
      <div class="phone-num">1-833-833-3333 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">Mail Order Pharmacy</div>
      <div class="phone-num">1-800-548-9809 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">Prior Authorization for Inpatient Hospital/Authorization/Referrals</div>
      <div class="phone-num">1-800-221-2412 (TTY 711)</div>
    </div>

    <div class="phone-card">
      <div class="phone-title">Kaiser Pharmacy Refills (home delivery or pick up)</div>
      <div class="phone-num">770-434-2008 (TTY 711)</div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
