<div class="app-header">
  <button *ngIf="showBackButton" class="back" (click)="goBack()" [disabled]="!hasNavigated"> <i class="fa fa-chevron-left"></i> Back</button>
  <h1 class="title">{{ headerTitle }}</h1>
  <span class="spacer"></span>
  <button *ngIf="showShareIcon" class="share-screen-btn">
    <svg class="share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 3l4 4h-3v6h-2V7H8l4-4zm-6 8v8h12v-8h2v8c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2v-8h2z"/>
    </svg>
  </button>
</div>