<div class="benefits">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>
  <div class="content">
    <h3>Benefits</h3>
    <div class="info">For more information visit, <a href="#">my.kp.org/maryland</a></div>

    <div class="card">
      <div class="item plan">
        <div class="icon">i</div>
        <div>
          <div class="title">Health Plan Name</div>
          <div class="lines">Kaiser Permanente Select HSA-Qualified Deductible HMO Plan</div>
        </div>
      </div>

      <div class="item"><div class="title">Deductible</div><div class="lines">HMO: $150 / $650 DED<br/>PAR Tier: $250 / $750 DED<br/>Non-Par Tier: $350 / $750 DED</div></div>
      <div class="item"><div class="title">Primary Care</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
      <div class="item"><div class="title">Specialty Care</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
      <div class="item"><div class="title">Urgent Care</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
      <div class="item"><div class="title">Emergency</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
      <div class="item"><div class="title">Hospital</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
      <div class="item"><div class="title">Out-of-Pocket Max</div><div class="lines">HMO: $xxx<br/>PAR Tier: $xxxx<br/>Non-Par Tier: $xxxx</div></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>