<div class="benefits">
  <app-header [headerTitle]="pageTitle" [showBackButton]="backButton"></app-header>
  <div class="content">
    <h3>Benefits</h3>
    <div class="info">{{data[0].micrositeContent}}, <a href="#">{{data[0].micrositeContent}}</a></div>

    
    <div class="card">
      <div class="item plan">
        <div class="icon">i</div>
        <div>
          <div class="title">{{ data[0]?.benefitsPagePlanNameTitle }}</div>
          <div class="lines">Kaiser Permanente Select HSA-Qualified Deductible HMO Plan</div>
        </div>
      </div>
      @for(plan of data[0].benefitInformation; track plan.title) {
      <div class="item">
        <div class="title">{{plan.title}}</div>
        <div class="lines">HMO: {{plan.tierOneValue}}<br/>PAR Tier: $250 / $750 DED
          <br/>Non-Par Tier: $350 / $750 DED</div>
      </div>
    }
    </div>
  
  </div>
</div>